.content{
    color: #888888;
    text-align: center;
    padding-left: 27px;
    background-color: white;
    padding: 66px 0px 66px 0px;
    margin-bottom: 35px;
}
.content-3{
    color: #888888;
    text-align: center;
    padding-left: 27px;
    background-color: white;
    padding: 72px 0px 35px 0px;
}
.content-4{
    color: #888888;
    text-align: center;
    padding-left: 27px;
    background-color: white;
    padding: 71px 0px 70px 0px;
    margin-bottom: 35px;
}
.content-5{
    text-align: center;
    padding-left: 27px;
    background-color: #292c34;
    padding: 71px 0px 68px 0px;
    margin-bottom: 35px;
}
.titulo-gallery{
    color: white;
}
.boton-1 a{
    color: white;
    background-color: #7bb84f;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-1{
    margin-top: 29px;
}
.boton-2 a{
    color: white;
    background-color: #f5ba1c;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-2{
    margin-top: 29px;
}
.boton-3 a{
    color: white;
    background-color: #e02d74;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-3{
    margin-top: 29px;
}
.boton-4 a{
    color: white;
    background-color: #40aceb;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-4{
    margin-top: 29px;
}
.boton-view a{
    color: #373a41;
    background-color: #f9f9f9;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-view{
    margin-top: 29px;
}

.cuadro-2{
    width: 200px;
    color: white;
    background-color: #0071bd;
    padding: 57px 73px 57px 38px;
}
.cuadro-3{
    width: 200px;
    color: white;
    background-color: #a4d3f3;
    padding: 57px 73px 57px 38px;
    float: left;
}

.cuadro-6{
    width: 200px;
    color: white;
    background-color: #333c4d;
    padding: 57px 73px 57px 38px;
}
.cuadro-7{
    width: 200px;
    color: white;
    background-color: #76b3dd;
    padding: 57px 73px 57px 38px;
}


