.content{
    color: #888888;
    text-align: center;
    padding-left: 27px;
    background-color: white;
    padding: 66px 0px 66px 0px;
}
.boton-1{
    color: white;
    background-color: #7bb84f;
    padding: 14px 29px;
    border-radius: 2px;
    text-decoration: none;
}

