.content{
    color: $color-gris-oscuro;
    text-align: $text-align-center;
    padding-left: 27px;
    background-color: $background-color-white;
    padding: 66px 0px 66px 0px;
    margin-bottom: 35px;
}
.content-3{
    color: $color-gris-oscuro;
    text-align: $text-align-center;
    background-color: $background-color-white;
    padding: 72px 0px 100px 0px;
    margin-bottom: 35px;
}
.content-5{
    color: $color-gris-oscuro;
    text-align: $text-align-center;
    padding-left: 27px;
    background-color: #292c34;
    padding: 71px 0px 68px 0px;
    margin-bottom: 35px;
}
.titulo-gallery{
    color: $color-white;
}

/*--------Botones--------*/
.boton-1 a{
    color: $color-white;
    background-color: #7bb84f;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-1{
    margin-top: 29px;
}
.boton-2 a{
    color: $color-white;
    background-color: #f5ba1c;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-2{
    margin-top: 29px;
}
.boton-3 a{
    color: $color-white;
    background-color: #e02d74;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-3{
    margin-top: 29px;
}
.boton-4 a{
    color: $color-white;
    background-color: #40aceb;
    padding: 14px 26px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.boton-4{
    padding-top: 32px;
}
.boton-view a{
    color: #373a41;
    background-color: #f9f9f9;
    padding: 14px 37px 14px 37px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 133px;
}
.boton-view{
    margin-top: 29px;
}

/*--------Newsroom--------*/
.cuadro-1-our{
    float: left;
    width: 300px;
}
.cuadro-2-our{
    float: left;
    width: 300px;
}
.cuadro-1{
    margin-top: 37px;
}
.cuadro-1 img{
    display: block;
}
.cuadro-2{
    line-height: 25px;
    width: 200px;
    color: $color-white;
    background-color: #0071bd;
    padding: 57px 60px 50px 40px;
    text-align: $text-align-left;
    margin-top: 37px;
}
.cuadro-3{
    line-height: 25px;
    width: 200px;
    color: $color-white;
    background-color: #a4d3f3;
    padding: 50px 60px 50px 40px;
    text-align: $text-align-right;
}
.cuadro-4 img{
    display: block;
}

.cuadro-5 img{
    display: block;
}
.cuadro-6{
    line-height: 25px;
    width: 200px;
    color: $color-white;
    background-color: #333c4d;
    padding: 60px 60px 50px 40px;
    text-align: $text-align-left;
}
.cuadro-7{
    line-height: 25px;
    width: 200px;
    color: $color-white;
    background-color: #76b3dd;
    padding: 57px 60px 54px 40px;
    text-align: $text-align-right;
}


