.copy{
    padding-left: 100px;
    float: $float-left;
    color: #95989d;
}

/*--------Iconos--------*/
.redes{
    padding-top: 15px;
    padding-right: 100px;
    float: $float-right;
}
.redes img +img{
    margin-left: 15px;
}