.logo{
    padding: 29px 0px 29px 0px;
    float: $float-left;
    color: #606060;
    font-weight: bold;
}

/*--------Menu--------*/
.menu{
    float: $float-right;
    padding: 29px 0px 29px 0px;
}
.menu-lista li{
    list-style: none;
    float: $float-left;

}
.menu-lista li + li{
    margin-left: 22px;

}
.menu-lista a{
    color: $color-gris-oscuro;
    text-decoration: none;
    font-weight: bold;
}