@media(max-width: 1023px){
    .menu{
        display: none;
    }
    .menu-resp a{
        display: block;
        padding: 10px 10px;
        background-color: #0071bd;
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 3px;
        font-family: $font-family;
    }
    .menu-resp a:hover{
        background-color: #09273b;
    }
    .menu-resp{
        width: 80px;
        float: right;
        padding-top: 35px;
    }
}